
  <div *ngIf="movie" class="row">
    <div class="col-6"> <img
        src={{movie.Poster}}
        class="card-img-top" alt="..."></div>
    <div class="col-6">
        <h5 class="card-title">{{movie.Title | uppercase}} Details</h5>
        <label><strong>Title:</strong> {{movie.Title}} </label><br>
        <label><strong>Year:</strong> {{movie.Year}} </label><br>
        <label><strong>Genre:</strong> {{movie.Genre}} </label><br>
        <label><strong>Director:</strong> {{movie.Director}} </label><br>
        <label><strong>Actors:</strong> {{movie.Actors}} </label><br>
        <label><strong>Plot:</strong> {{movie.Plot}} </label><br>
        <label><strong>Language:</strong> {{movie.Language}} </label><br>
        <label><strong>Awards: </strong>{{movie.Awards}} </label><br>
      </div>
    </div>


