
  <div class="row">
    <div class="col-6"> <img
        src="https://m.media-amazon.com/images/M/MV5BMGU2NzRmZjUtOGUxYS00ZjdjLWEwZWItY2NlM2JhNjkxNTFmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg"
        class="card-img-top" alt="..."></div>
    <div class="col-6">
        <h5 class="card-title">Harry Potter Details</h5>
        <label>Title: Harry Potter </label><br>
        <label>Year: 2012 </label><br>
        <label>Rated: 8/10 </label><br>
        <label>Genre: Childre, Adventure </label><br>
        <label>Director: JK Rowling </label><br>
        <label>Actors: Daniel RActfille, Edd Sheran </label><br>
        <label>Plot: Tutti maghi volano ciao </label><br>
        <label>Language: Italian </label><br>
        <label>Awards: 4 </label><br>
      </div>
    </div>


